.App {
  text-align: center;
  #quote-box{
    padding:25px;
    background-color:white;
    border-radius: 10px;
    color:black;
    #text{
      margin-bottom:0px;
      width:450px;
      
    }
    #author{
      text-align: end;
    }
    .button{
      display:flex;
      #tweet-quote{
        float: left;
        padding: 5px;
        color:white;
        text-decoration:none;
        border-radius: 10px;
        margin-right: 5px;
      }
    }
    #new-quote{
      float: right;
      color:white;
     
      border-radius: 10px;
      padding:10px;
      border:none;
      cursor:pointer
    }
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
  


  
